html{
    font-size: 20px;
}
body{
    font-family: "Meiryo", "Arial", sans-serif;
    text-align: center;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1.2em;
    text-shadow: 5px 5px 3px gray;
    border-bottom: solid 3px rgb(155, 155, 114);
}
.text-pink{
    color: rgb(255, 198, 203);
}
.text-skyblue{
    color: skyblue;
}
#p{
    font-weight: bold;
}